# 忽略构建目录
/build/

# 忽略 CMake 生成的文件
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# 忽略编译器生成的文件
*.o
*.obj
*.a
*.lib
*.so
*.dll

# 忽略 Qt 自动生成的文件
moc_*.cpp
ui_*.h
qrc_*.cpp
*_autogen/

# 忽略 IDE 相关文件
.vscode/
.idea/
*.user

# 不忽略 exe 文件
!*.exe

# 忽略其他临时文件或日志
*.log
*.tmp

# 特定忽略
ChatRoom-Server/build/*
ChatRoom-Client/build/*